<main>
    <div class="course">
        <div class="container-widemode" id="positionfixed">
            <h1>{{course.courseId}}, {{course.name}}</h1>
            <div>
                <label>credits: {{course.credits}}</label>
            </div>
            <div>
                <label>Professor: {{course.professorName}}, Email:{{course.professorEmail}} </label>
            </div>
            <div>
                <label>TA: {{course.taName}}, Email: {{course.taEmail}}</label>
            </div>
            <div>
                <label>{{course.rating}}/5 ({{course.reviews.length}} Reviews)</label>
            </div>

            {{#each semsVal}}
            <div>
                <p>{{this.val}}: {{this.semrat}} </p>
            </div>
            {{/each}}
        </div>
        
    </div>
    <div class="container-widemode" id="right">
        <h2>Reviews And Ratings</h2>
        {{#each reviews}}
        <div class="reviews">
            <div class="container-fullmode">
                <p class="inline_para  review_name"><a href="/students/{{this.student._id}}">{{this.student.firstName}} {{this.student.lastName}}</a></p>
                <p class="semester_val">{{this.semesterVal}}, Rating: {{this.rating}}/5</p>
                <p class="review_Text">{{this.reviewText}}</p>
                <h4>Comments</h4>
                <div class="comments">
                    {{#if ../studentLoggedIn}}
                    <form id="comment_form" class="form-container"
                        action="/comments/{{../currentStudentsData._id}}/{{this._id}}/{{this.courseId}}/add"
                        onsubmit="return commentValidate(this);" method="POST">
                        <label for="commentValue">
                            <input class="comment_text" type="text" name="commentValue" id="commentValue"
                                placeholder="comment">
                            <span id="commentValueError" class="error"></span>
                        </label>
                        <button type="submit" class="btn">Submit</button>
                    </form>
                    {{/if}}
                    {{#each this.commentList}}
                    <div class="container-fullmode" id="white-card">
                        <p class="inline_para"><a href="../students/{{this.student._id}}">{{this.student.firstName}}
                                {{this.student.lastName}}</a></p>
                        <p id="comment-Val">{{this.commentInput}}</p>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{#if adminLoggedIn}}
        <button class="add_review_btn" onclick="location.href='../courses/{{course._id}}/edit';">Edit course</button>
    {{else if studentLoggedIn}}
    {{#if currentStudentsData.reviewedcoursePage}}
        <button id="reviewed_popup" class="add_review_btn" onclick="location.href='../students/profile';">Edit Review</button>
    {{else}}
    {{#if currentStudentsData.reviewbtnEnable}}
        <button id="check_review_popup" class="add_review_btn" onclick="opencreateReview()">Add a Review</button>
    {{else}}
         <button id="check_review_alert" class="add_review_btn" onclick="openAlert()">Add a Review</button>
    {{/if}}
    {{/if}}
    {{else}}
        <button class="add_review_btn" onclick="location.href='../students/login';">Add a Review</button>
    {{/if}}
    <div class="popup_window" id="closecheck_form">
        <h2>Sorry you cannot add review</h2>
        <form id="closecheckform" name="closecheckform" class="form-container" action="javascript:void(0);">
            <button type="button" class="checkbtn" onclick="closeCheckFormAlert()">Cancel</button>
        </form>
    </div>
    <div class="popup_window" id="openadd_form">
        <h2>Add a Review</h2>
        <form id="review_form" action="/reviews/{{course._id}}/add" onsubmit="return reviewValidate(this);"
            method="POST">
            <p> Select semester:
                <select name="selectSemester" id="selectSemester">
                    <option id="fall2022" value="fall2022">Fall 2022</option>
                    <option id="spring2022" value="spring2022">Spring 2022</option>
                    <option id="fall2021" value="fall2021">Fall 2021</option>
                </select>
            </p>
            <label for="rating"></label>
                <input type="number" name="rating" id="rating" placeholder="Enter your Rating">
                <span id="ratingError" class="error"></span>
            <label for="reviewText"></label>
                <input type="text" name="reviewText" id="reviewText" placeholder="Enter your Review">
                <span id="reviewTextError" class="error"></span>
            
            <button type="submit" class="add_btn">Add Review</button>
            <button type="button" class="add_btn margin-auto" onclick="closecreateReview()">Cancel</button>
        </form>
    </div>
    <div class="popup_window" id="openalert_form">
        <p>You have not registered in the course!</p>
        <form id="review-edit_form" name="review-edit_form" class="form-container" action="javascript:void(0);">
            <button type="button" class="btn cancel" onclick="closeAlert()">Close</button>
        </form>
    </div>
    <div>
        <p class="error-msg"></p>
    </div>
    <script>
         function openAlert() {
            document.getElementById("openalert_form").style.display = "block";
            document.getElementsByClassName("add_review_btn")[0].style.display = "none"
        }
        function closeAlert() {
            document.getElementById("openalert_form").style.display = "none";
            document.getElementsByClassName("add_review_btn")[0].style.display = "block"
        }
        function opencreateReview() {
            document.getElementById("openadd_form").style.display = "block";
            document.getElementsByClassName("add_review_btn")[0].style.display = "none"
        }
        function closeCheckFormAlert() {
            document.getElementById("closecheck_form").style.display = "none";
            document.getElementsByClassName("add_review_btn")[0].style.display = "block"
        }
        function closecreateReview() {
            document.getElementById("openadd_form").style.display = "none";
            document.getElementsByClassName("add_review_btn")[0].style.display = "block"
        }
        
        function reviewValidate(form) {
            const ratingError = document.getElementById('ratingError');
            const reviewTextError = document.getElementById('reviewTextError');
            if (form) {
                var valid = false;
                let rating = document.forms["review_form"]["rating"].value;
                let reviewText = document.forms["review_form"]["reviewText"].value;

                if (reviewText.trim().length == 0) {
                    reviewTextError.style.display = "block";
                    reviewTextError.innerHTML = "Please enter review"
                    valid = true
                    return false
                }
                if (!/^[0-9]+$/.test(rating)) {
                    ratingError.style.display = "block";
                    ratingError.innerHTML = "Please enter rating"
                    valid = true
                    return false
                } else if (rating < 1 || rating > 5) {
                    ratingError.style.display = "block";
                    ratingError.innerHTML = "Please enter rating between 1 and 5"
                    valid = true
                    return false
                }
                if (!valid) {
                    ratingError.style.display = "none";
                    reviewTextError.style.display = "none";
                    return true;
                }
            }
        }
        function commentValidate(form) {
            const commentValueError = document.getElementById('commentValueError');
            if (form) {

                var valid = false;
                let commentValue = document.forms["comment_form"]["commentValue"].value;
                if (commentValue.trim().length == 0) {
                    commentValueError.style.display = "block";
                    commentValueError.innerHTML = "Please enter comment"
                    valid = true
                    return false
                }
                if (!valid) {
                    commentValueError.style.display = "none";
                    return true
                }
            }
        }
    </script>
</main>