<main>
    <div class="container-widemode" id="positionfixed">
        <h1>{{firstName}} {{lastName}} </h1>
        <p>{{email}}</p>
    </div>

    <div class="container-widemode" id="right">
        <h2>Reviews</h2>
        {{#each reviews}}
        <div>
            <div class="container-fullmode">
                <div class="reviewHeading">
                    <div class="reviewerName">
                        <p class="course_name"><a href="/courses/{{this.course._id}}">{{this.course.name}}</a></p>
                    </div>
                    <div class="reviewersemester">
                        <p class="course_rating">Semester: {{this.review.semesterVal}}</a></p>
                    </div>
                    <div class="reviewerRating">
                        <p class="course_rating">Your Rating: {{this.review.rating}}</p>
                    </div>
                </div>
                <div class="reviewText">
                    <p>{{this.review.reviewText}}</p>
                </div>
                    <button id="edit_popup" class="checkbtn" onclick="openEdit()">Edit Review</button>
                    <button id="delete_popup" class="checkbtn" onclick="../reviews/{{this.course._id}}/{{this.review._id}}/delete">Delete Review</button> 
        </div>
        {{/each}}
    </div>
    <div class="form-popup" id="openedit_form">
        <h2>Edit Review</h2>
        <form id="editreview_form" action="/reviews/{{this.review._id}}/edit" onsubmit="return editreviewValidate(this);"
            method="POST">
            <label for="rating">
                <input type="number" name="rating" id="rating" placeholder="Enter your Rating">
                <span id="ratingError" class="error"></span>
            </label>
            <label for="reviewText">
                <input type="text" name="reviewText" id="reviewText" placeholder="Enter your Review">
                <span id="reviewTextError" class="error"></span>
            </label>
            <button type="submit" class="btn">Edit Review</button>
            <button type="button" class="btn cancel" onclick="closeEditReview()">Cancel</button>
        </form>
    </div>
    <script>
    function openEdit() {
            document.getElementById("openedit_form").style.display = "block";
        }
        function closecreateReview() {
            document.getElementById("openedit_form").style.display = "none";
        }
        function editreviewValidate(form) {
            const ratingError = document.getElementById('ratingError');
            const reviewTextError = document.getElementById('reviewTextError');
            if (form) {
                var valid = false;
                let rating = document.forms["review_form"]["rating"].value;
                let reviewText = document.forms["review_form"]["reviewText"].value;

                if (reviewText.trim().length == 0) {
                    reviewTextError.style.display = "block";
                    reviewTextError.innerHTML = "Please enter review"
                    valid = true
                    return false
                }
                if (!/^[0-9]+$/.test(rating)) {
                    ratingError.style.display = "block";
                    ratingError.innerHTML = "Please enter rating"
                    valid = true
                    return false
                } else if (rating < 1 || rating > 5) {
                    ratingError.style.display = "block";
                    ratingError.innerHTML = "Please enter rating between 1 and 5"
                    valid = true
                    return false
                }
                if (!valid) {
                    ratingError.style.display = "none";
                    reviewTextError.style.display = "none";
                    return true;
                }
            }
        }
        </script>
</main>